.jumbotron {
  background-image: url('bg-jumbroton.jpg');
  background-position: center;
  background-size: cover;
  min-height: 300px;
}
.card-header {
  background-image: url('icon/icons8-no-image-400.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 250px;

}
